.App {
  text-align: center;
  display:flex;
  background-color: #282c34; 
  color:rgb(244, 235, 235);
  position:absolute;
  top:0;bottom:0;right:0;left:0;

}
.sidemenu {
  width:260px;
  padding:15px;

  background-color:#202123 ;
}
.chatbox {
  flex:1;
  background: color #343541;
  position: relative;

  overflow-y: auto; overflow-x: hidden;
}
.side-menu-button, .models {
  padding: 15px;
  border:1px solid rgb(132, 73, 199);
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}
.side-menu-button:hover, .models:hover {
  background-color: rgba(255,255,255,0.1);
}
.side-menu-button span {
  padding-left:6px;
  padding-right: 12px;

}
.chat-input-holder {
  padding:24px;
  position: absolute;
  bottom: 0;
  left: 0;right: 0;
  

}

.chat-input-textarea {
  background-color: #41414d;
  width: 80%;
  padding:10px;
  color: aquamarine;
  font-size:larger;
  border-radius: 5px;
  border:none;
  outline:none;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
}


.chat-log {
  padding: 24px;
  /* text-align: left; */
 
}
.chat-message.chatgpt {
  background-color: rgba(255,255,255,0.1);
}
.chat-center{
  
  max-width: 640px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  
}
.avatar {
  background: rgb(52, 141, 44);
  border-radius: 50%;
  width: 42px;
  height: 42px;

}
.avatar.chatgpt {
  background: rgb(172, 70, 195);
  border-radius: 50%;
  width: 45px;
  height: 45px;

}
.message {
  padding: 10px;
  margin-left: 10px;
  
}


